{%load static%}

<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Remos eCommerce Admin Dashboard HTML Template</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/animation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/bootstrap-select.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css'%}">



    <link rel="stylesheet" href="{% static 'dashboard/font/fonts.css' %}">

    <!-- Icon -->
    <link rel="stylesheet" href="{% static 'dashboard/icon/style.css' %}">


    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="images/favicon.png">

</head>

<body>
    <div id="wrapper">
        <!-- #page -->
        <div id="page" class="">
            <!-- layout-wrap -->
           <div class="layout-wrap">
                <!-- preload -->
                <!-- /preload -->
                <!-- section-menu-left -->
                <div class="section-menu-left">
                    <div class="box-logo">
                        <a href="index.html" id="site-logo-inner">
                            <img class="" alt="" src="{% static 'dashboard/images/logo-new.png' %}">
                        </a>
                        <div class="button-show-hide">
                            <i class="icon-menu-left"></i>
                        </div>
                    </div>
                    <div class="center">
                        <div class="center-item">
                            <div class="center-heading">Main Home</div>
                            <ul class="menu-list">
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-grid"></i></div>
                                        <div class="text">Dashboard</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="index.html" class="">
                                                <div class="text">Home 01</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="home-2.html" class="">
                                                <div class="text">Home 02</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="home-3.html" class="">
                                                <div class="text">Home 03</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="home-4.html" class="">
                                                <div class="text">Home 04</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="home-boxed.html" class="">
                                                <div class="text">Home Boxed</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="home-menu-icon-hover.html" class="">
                                                <div class="text">Home Menu Icon Hover</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="home-menu-icon-default.html" class="">
                                                <div class="text">Home Menu Icon Default</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="center-item">
                            <div class="center-heading">All page</div>
                            <ul class="menu-list">
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-layers"></i></div>
                                        <div class="text">Category</div>
                                    </a>
                                    <ul class="sub-menu" style="display: block;">
                                        <li class="sub-menu-item">
                                            <a href="{% url 'category_list' %}" class="">
                                                <div class="text">Category list</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="{% url 'category_create' %}" class="">
                                                <div class="text">New category</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-layers"></i></div>
                                        <div class="text">Services</div>
                                    </a>
                                    <ul class="sub-menu" style="display: block;">
                                        <li class="sub-menu-item">
                                            <a href="{% url 'service_list' %}" class="">
                                                <div class="text">Services list</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="{% url 'service_create' %}" class="">
                                                <div class="text">New Service</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-box"></i></div>
                                        <div class="text">Advertise</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="{% url 'advertise_list' %}" class="">
                                                <div class="text">Advertise images</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="{% url 'advertise_create' %}" class="">
                                                <div class="text">Add Advertise image</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                               
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-user"></i></div>
                                        <div class="text">User</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="{% url 'service_list' %}" class="">
                                                <div class="text">All user</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="add-new-user.html" class="">
                                                <div class="text">Add new user</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="login.html" class="">
                                                <div class="text">Login</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="sign-up.html" class="">
                                                <div class="text">Sign up</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /section-menu-left -->
                <!-- section-content-right -->
                <div class="section-content-right">
                    <!-- header-dashboard -->
                    <div class="header-dashboard">
                        <div class="wrap">
                            <div class="header-left">
                                <a href="index.html">
                                    <img class="" id="logo_header_mobile" alt="" src="{% static 'dashboard/images/logo/logo.png' %}" data-light="images/logo/logo.png" data-dark="images/logo/logo-dark.png" data-width="154px" data-height="52px" data-retina="images/logo/logo@2x.png">
                                </a>
                                <div class="button-show-hide">
                                    <i class="icon-menu-left"></i>
                                </div>
                                <form class="form-search flex-grow">
                                    <fieldset class="name">
                                        <input type="text" placeholder="Search here..." class="show-search" name="name" tabindex="2" value="" aria-required="true" required="">
                                    </fieldset>
                                    <div class="button-submit">
                                        <button class="" type="submit"><i class="icon-search"></i></button>
                                    </div>
                                </form>
                            </div>
                            <div class="header-grid">
                                <div class="header-item button-dark-light">
                                    <i class="icon-moon"></i>
                                </div>
                                <div class="header-item button-zoom-maximize">
                                    <div class="">
                                        <i class="icon-maximize"></i>
                                    </div>
                                </div>
                                
                                <div class="popup-wrap user type-header">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="header-user wg-user">
                                                <span class="image">
                                                    <img src="images/avatar/user-1.png" alt="">
                                                </span>
                                                <span class="flex flex-column">
                                                    <span class="body-title mb-2">{{request.user.username}}</span>
                                                    <span class="text-tiny">Admin</span>
                                                </span>
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end has-content" aria-labelledby="dropdownMenuButton3" >
                                            <li>
                                                <a href="#" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-user"></i>
                                                    </div>
                                                    <div class="body-title-2">Account</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-mail"></i>
                                                    </div>
                                                    <div class="body-title-2">Inbox</div>
                                                    <div class="number">27</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-file-text"></i>
                                                    </div>
                                                    <div class="body-title-2">Taskboard</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="setting.html" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-settings"></i>
                                                    </div>
                                                    <div class="body-title-2">Setting</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-headphones"></i>
                                                    </div>
                                                    <div class="body-title-2">Support</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'logout' %}" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-log-out"></i>
                                                    </div>
                                                    <div class="body-title-2">Log out</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
    <!-- Main Content -->
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'dashboard/js/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'dashboard/js/zoom.js' %}"></script>
    <script src="{% static 'dashboard/js/switcher.js' %}"></script>
    <script src="{% static 'dashboard/js/theme-settings.js' %}"></script>
    <script src="{% static 'dashboard/js/main.js' %}"></script>
</body>
</html>
